CONFIG_DESKTOP=n

CONFIG_STATIC=n

CONFIG_INIT=n
CONFIG_FEATURE_USE_INITTAB=n
CONFIG_FEATURE_INIT_SCTTY=n
CONFIG_FEATURE_INIT_SYSLOG=n
CONFIG_FEATURE_INIT_COREDUMPS=n

CONFIG_MDEV=n

CONFIG_LOGIN=n
CONFIG_SU=n
CONFIG_GETTY=n

CONFIG_HALT=n
CONFIG_REBOOT=n
CONFIG_POWEROFF=n

CONFIG_RUNSV=n
CONFIG_RUNSVDIR=n
CONFIG_SV=n
CONFIG_SVC=n
CONFIG_SVLOGD=n

CONFIG_SH_IS_NONE=y
CONFIG_BASH_IS_NONE=y
CONFIG_ASH=n
CONFIG_HUSH=n

CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y
CONFIG_FEATURE_SH_MATH_BASE=y
